In [1]:
tuple_1 = (0, 1, 2, 3, 4, 5)
tuple_1

(0, 1, 2, 3, 4, 5)

In [2]:
tuple_2 = tuple(range(6))
tuple_2

(0, 1, 2, 3, 4, 5)

In [3]:
a = [1,2]
b = [3,4]  
c = (a,b)
c
# tuple은 immutable 한데 안에다 mutable한 list를 넣는것은 어느 장단에 맞춰야 할까?

([1, 2], [3, 4])

In [4]:
c[0] = [3,4]

TypeError: 'tuple' object does not support item assignment

In [5]:
# c에 대한 a,b를 바꾸지는 못하지만

In [6]:
set_2 = set(range(6))

In [7]:
set_2

{0, 1, 2, 3, 4, 5}

In [9]:
set_3 = set(map(int, '0 1 2 3 4 5'.split()))
set_3

{0, 1, 2, 3, 4, 5}

In [10]:
prices = {
    'Naver': 42.1,
    'Samsung': 302.78,
    'LG': 325.25,
    'Sk': 73.10,
    'Hyundai': 90.75
}
prices

{'Naver': 42.1, 'Samsung': 302.78, 'LG': 325.25, 'Sk': 73.1, 'Hyundai': 90.75}

In [11]:
# Nested List
grades_list = [
    ['001', 100, 90, 'A'], 
    ['002', 10, 30, 'D'], 
    ['003', 70, 80, 'B']
]
for student in grades_list:
    if student[0] == '001':
        print(student[1:])

[100, 90, 'A']

In [12]:
# Dictionary
grades_list = {
    '001': [100, 90, 'A'], 
    '002': [10, 30, 'D'], 
    '003': [70, 80, 'B']
}

In [13]:
grades_list['001']

[100, 90, 'A']

In [ ]:
a = 1
b = a
c = a+1
d = a
# Cmd + Shift + L select all
# Cmd + Fn + F2